
@{
    ViewBag.Title = "UpdateUserPrinciple";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:200px; padding:50px 0px;"><img src="~/images/ds-logo-gray.svg" /></div>
<div class="container">
    <form action="#">
        <div class="title">Update UserPrinciple</div>
        <div class="input-box underline">
            <input type="text" name="txtObjectId" id="txtObjectId" placeholder="ObjectId" required>
            <div class="underline"></div>
        </div>
        <div class="input-box">
            <input type="text" name="txtEmailId" id="txtEmailId" placeholder="New EmailId(UPN)" required>
            <div class="underline"></div>
        </div>
        <div class="input-box button">
            <input type="button" id="btnSubmit" name="btnSubmit" value="Continue" class="btn-1">
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.2/dist/sweetalert2.css"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.2/dist/sweetalert2.all.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnSubmit').click(function () {
            var ObjectId = $.trim($("[id*=txtObjectId]").val());
            var emailid = $.trim($("[id*=txtEmailId]").val());
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '../Home/SaveUpdateUuserPrinciple',
                        type: "POST",
                        data: { ObjectId: ObjectId, emailid: emailid },
                        async: false,
                        dataType: "json",
                        success: function (result) {

                            if (result == "1") {
                                Swal.fire({
                                    icon: "success",
                                    text: "Updated UPN Sucessfully ..!",
                                    type: "success",
                                    buttons: false
                                });
                                window.setTimeout(function () { window.location = "../Home/UpdateUserPrinciple"; }, 4000);
                            }
                            else {
                                Swal.fire({
                                    icon: "warning",
                                    text: "Something Wrong ..!",
                                    type: "success",
                                    buttons: false
                                });
                                window.setTimeout(function () { window.location = "../Home/UpdateUserPrinciple"; }, 4000);
                            }

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                }
            })          
        });
    });
</script>